@model BlogV1.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BlogPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>

        <dt>
            
        </dt>
        @Html.DisplayNameFor(model => model.MediaURL)
        <dd>
            <img src="@Url.Content(Model.MediaURL)" class="img-responsive" style="width:200px;">
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

    </dl>
</div>
@using (Html.BeginForm("Create", "Comments", FormMethod.Post))

{   
    @Html.AntiForgeryToken()
    <input type="hidden" name="PostId" value="@Model.Id"/>
    <textarea name="body">
    </textarea>
    <input type="submit" value="Add Comment" />
}

@foreach (var comment in Model.Comments)
{
    <ul>
        <li>Posted by @Html.DisplayFor(modelItem => comment.Author.FirstName) @Html.DisplayFor(modelItem => comment.Author.LastName) at @comment.Created</li>
        <li>@comment.Body</li>
    </ul>

}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
